<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kiran.be_you">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Be_you"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".FirebaseMessagingservice">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="Create Account"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="ResetPassword"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Log In" />
        <activity
            android:name=".SettingsActivity"
            android:label="Account Setting"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BlogActivity"
            android:label="Add Post"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChangeStatusActivity"
            android:label="Change Status"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".AfterBlogActivity"
            android:label="Timeline"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".UsersActivity"
            android:label="All Users"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".UsersActivity">
            <intent-filter>
                <action android:name="com.example.kiran.be_you_notification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="chat"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.example.kiran.be_you_message_message_notification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangeNameActivity"
            android:label="Change Name"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".Sent_Requests"
            android:label="Sent Friend Requests"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".finale"
            android:parentActivityName=".SettingsActivity" />
        <!-- This meta-data tag is required to use Google Play Services. -->


        <!-- Include the AdActivity configChanges and theme. -->

        <activity android:name=".ChatUserProfile"
            android:parentActivityName=".ChatActivity"/>
    </application>

</manifest>